@media screen and (min-width: 1024px) {
    .openbtn{
        display: none;
    }
}

/* Layar Tablet */
@media screen and (max-width: 768px) {
    .openbtn{
        display: none;
    }
    .header {
        display: none;
    }

/* jumbotron */
    .jumbotron {
        flex-direction: column;
        height: 100%;
    }

    .jumbotron .left .title {
        margin-top: -15px;
        width: auto;
        margin-left: -100px;
    }
    .jumbotron .left .lead {
        width: auto;
        margin-left: -100px;
    }
    .jumbotron .left button {
        width: auto;
        margin-left: -100px;
    }

    .jumbotron .right .img {
        max-width: 100vw;  
        margin-right: -30px;
    }
    .jumbotron .right img {
        max-width: 100%;
        object-fit: contain; 
    }

    /* our service */
    .ourService .main {
        margin-top: -100px;
    }
    .ourService .main .left img {
        margin-left: 125px;
    }
    .ourService .main .left .ellipse1 {
        margin-left: 125px;
    }
    .ourService .main .left .ellipse2 {
        margin-left: 125px;
    }
    .ourService .main .left .ellipse3 {
        margin-left: 125px;
    }

    .ourService .main .right .title {
        margin-top: 500px;
        margin-left: -200px;
    }
    .ourService .main .right .lead {
        margin-left: -200px;
    }
    .ourService .main .right .list {
        margin-left: -200px;
    }

    /* whyUs */
    .whyUs .main {
        width: 80vw;
        margin-top: 300px;
        margin-bottom: 200px;
      }
      .whyUs .main .title {
          margin-left: 260px ;
      }
      .whyUs .main .lead {
          margin-left: 190px ;
      }
      .whyUs .main .content {
        flex-wrap: wrap;
      }
      .whyUs .main .content .card {
        width: 30vw;
        height: 196px;
        padding: 24px;
        margin-right: 2.22vw;
        margin-bottom: 2.22vw;
      }
      .whyUs .main .content .card .lead {
        width: 100%;
        height: 100%;
      }

      /* testimonial */
      
      /* ctaBanner */
      .ctaBanner {
        margin-top: -70px;
      }

      /* faq */
      .faq {
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
      }
      .faq .main {
        width: 80vw;
        flex-direction: column;
      }
      .faq .main .left {
        max-width: 80vw;
      }
      .faq .main .right .content {
        margin-bottom: 16px;
      }
      .faq .main .right .content .collapsibleClose {
        width: 70vw;
      }
      .faq .main .right .content .collapsibleOpen {
        width: 70vw;
      }

      /* footer */
      .footer .main {
        width: 80vw;
        flex-direction: column;
        margin-top: 50px;
      }
      .footer .main .text {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-decoration: none;
        color: black;
        margin: 0 0 16px;
      }
      .footer .main .address {
        max-width: 80vw;
        width: 80vw;
      }
      .footer .main .navigation {
        margin: 20px 0;
      }
      .footer .main .copyright {
        margin-top: 20px;
      }
}

@media screen and (max-width: 500px) {

  body {
    margin-top: -30px;
  }
  /* jumbotron */
  .jumbotron .right {
    margin-bottom: -150px;
  }
  .jumbotron .right .img img {
    margin-top: -30px;
  }
  /* ourService */
  .ourService .main  {
    margin-top: 5px;
    margin-bottom: 250px;
    margin-right: 80px;

  }
 .ourService .main .right .title {
   padding-left: 130px;
 }
  .ourService .main .right .lead {
    padding-left: 130px;
  }
  .ourService .main .right .list {
    padding-left: 130px;
  }

  /* whyUs */
  .whyUs {
    margin-top: 100px;
  }
  .whyUs .main {
    width: 80vw;
  }
  .whyUs .main .title {
    margin-left: -10px;
  }
  .whyUs .main .lead {
    margin-left: -10px;
  }
  .whyUs .main .content {
    flex-direction: column;
  }
  .whyUs .main .content .card {
    margin-bottom: 32px;
    max-width: 80vw;
    width: 60vw;
    
  }

  /* testimonial */
  .testimonial {
    margin-top: 550px;
  }

  /* .ctaBanner */
  .ctaBanner .content .title {
    font-size: 25px;
    padding-left: 130px;
  }
  .ctaBanner .content .lead {
    padding-left: 65px;
  }
  .ctaBanner .content button {
    margin-left: 55px;
    margin-top: -20px;
  }

  /* faq */
  .faq .main .right .content {
    font-size: 14px;
  }
}
 

