
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    }
    
    /* Header */
    .header {
      display: flex;
      justify-content: center;
    }
    
    .header .main {
      display: flex;
      justify-content: space-between;
      position: fixed;
      width: 1168px;
      padding: 25px 0 0;
      z-index: 10;
      height: 60px;
    }
    
    .header .main .left {
      height: 34px;
      width: 100px;
      background-color: #0D28A6;
    }
    
    .header .main .right .nav {
      margin-left: 32px;
      text-decoration: none;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    
    .header .main .right .register {
      background-color: #5CB85F;
      width: 81px;
      height: 36px;
      border-radius: 2px;
      padding: 8px 12px;
      color: #ffffff;
    }
    
    /* jumbotron */
    .jumbotron {
      background-color: #F1F3FF;
      display: flex;
      justify-content: space-between;
      height: 600px;
      margin-top: 100px;
      
    }
    
    .jumbotron .left {
      padding-left: 136px;
    }
    
    .jumbotron .left .title {
      font-size: 36px;
      font-weight: 700;
      width: 568px;
      line-height: 54px;
      margin-top: 177px;
      margin-bottom: 0;
    }
    
    .jumbotron .left .lead {
      font-size: 14px;
      font-weight: 400;
      width: 468px;
      margin: 16px 0 24px;
      text-align: justify;
      line-height: 20px;
    }
    
    .jumbotron .left button {
      height: 36px;
      width: 140px;
      background-color: #5CB85F;
      border: none;
      border-radius: 2px;
      padding: 8px 12px;
      font-size: 14px;
      font-weight: 700;
      color: #ffffff;
      line-height: 20px;
    }
    
    .jumbotron .right {
      max-width: 704px;
      height: 500px;
    }
    
    .jumbotron .right .bg {
      background-color: #0D28A6;
      height: 243px;
      width: 100%;
    }
    
    .jumbotron .right .img {
      position: relative;
    }
    
    .jumbotron .right .img::before {
      content: '';
      background-color: #0D28A6;
      height: 243px;
      width: 100%;
      position: absolute;
      display: block;
      bottom: 0;
      z-index: 1;
      border-radius: 60px 0 0 0;
    }
    
    .jumbotron .right .img img {
      z-index: 2;
      position: relative;
      margin-top: 97px;
      height: 407px;
    }
    
    
    /* main */
    .main {
        height: 300px;
    }
    
    
    /* <!-- Our Services --> */
    .ourService {
      display: flex;
      justify-content: center;
      margin-top: 100px;
    }
    
    .ourService .main {
      width: 1027px;
      display: flex;
      justify-content: space-between;
    }
    
    .ourService .main .left {
      width: 459px;
      position: relative;
      margin-top: 4px;
      margin-right: 100px;
    }
    
    .ourService .main .left img {
      width: 374px;
      position: absolute;
      left: 99px;
    }
    
    .ourService .main .left .ellipse1 {
      height: 133px;
      width: 133px;
      background-color: #92D094;
      border-radius: 50%;
      position: absolute;
      top: 1px;
    }
    
    .ourService .main .left .ellipse2 {
      height: 25px;
      width: 25px;
      background-color: #FA2C5A;
      border-radius: 50%;
      position: absolute;
      top: 43px;
      left: 383px;
    }
    
    .ourService .main .left .ellipse3 {
      height: 25px;
      width: 25px;
      background-color: #F9CC00;
      border-radius: 50%;
      position: absolute;
      top: 336px;
      left: 60px;
    }
    
    .ourService .main .right {
      max-width: 468px;
      margin-top: 40px;
    }
    
    .ourService .main .right .title {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      margin: 0;
    }
    
    .ourService .main .right .lead {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      margin: 24px 0 16px;
    }
    
    .ourService .main .right .list {
      display: flex;
      align-items: center;
    }
    
    .ourService .main .right .list .icon {
      width: 24px;
      height: 24px;
      margin-right: 16px;
      border-radius: 50%;
      background-color: #CFD4ED;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .ourService .main .right .list .text {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
    }
    
    /*<!-- Why Us --> */
    .whyUs {
      display: flex;
      justify-content: center;
      margin-top: 300px;
    }
    
    .whyUs .main {
      width: 1168px;
    }
    
    .whyUs .main .title {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      margin: 0;
    }
    
    .whyUs .main .lead {
      margin: 16px 0 40px;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
    }
    
    .whyUs .main .content {
      display: flex;
      justify-content: space-between;
    }
    
    .whyUs .main .content .card {
      border: 1px solid #D0D0D0;
      border-radius: 8px;
      width: 268px;
      max-width: 268px;
      height: 196px;
      padding: 24px;
      margin-right: 32px;
    }
    
    .whyUs .main .content .card .icon {
      height: 32px;
      width: 32px;
      padding: 7.67px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .whyUs .main .content .card .icon img {
      height: 24px;
      width: 24px;
    }
    
    .whyUs .main .content .card .title {
      font-size: 16px;
      font-weight: 700;
      margin: 16px 0;
      line-height: 24px;
    }
    
    .whyUs .main .content .card .lead {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      width: 220px;
      height: 60px;
    }
    
    /* testimonial */
    .testimonial {
        text-align: center;
        margin-top: 100px;
        padding-top: 40px;
        margin-bottom: 100px;
        padding-bottom: 50px;
      }
    
      .item {
        width: 619px;
        height: 270px;
      
        background: #f1f3ff;
        /* Shadow/Low */
      
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
      
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-around !important;
      }
      
      .avatar img {
        /* width: 100%; */
        width: 80px !important;
        height: 80px !important;
      }
      
      .rating {
        width: 415px;
        height: 132px;
      }
      
      .star {
        display: flex;
        flex-direction: row;
      }
      .star img {
        height: 16px;
        width: 16px !important;
      }
      
      .comment p {
        font-family: Helvetica;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
      }
      
      .name p {
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
      }
    
      /* banner */
    .ctaBanner {
      display: flex;
      justify-content: center;
      margin: 156px 0 100px;
    }
    
    .ctaBanner .content {
      background-color: #0D28A6;
      width: 1168px;
      height: 326px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 13px;
    }
    
    .ctaBanner .content .title {
      font-size: 36px;
      font-weight: 700;
      width: 613px;
      line-height: 54px;
      margin-top: 64px;
      margin-bottom: 0;
    }
    
    .ctaBanner .content .lead {
      font-size: 14px;
      font-weight: 400;
      width: 468px;
      margin: 16px 0 52px;
      text-align: center;
      line-height: 20px;
    }
    
    .ctaBanner .content button {
      height: 36px;
      width: 140px;
      background-color: #5CB85F;
      border: none;
      border-radius: 2px;
      padding: 8px 12px;
      font-size: 14px;
      font-weight: 700;
      color: #ffffff;
      line-height: 20px;
    }
    
     
    /* Faq */
    .faq {
      display: flex;
      justify-content: center;
      margin-bottom: 150px;
    }
    
    .faq .main {
      width: 1168px;
      display: flex;
      justify-content: space-between;
    }
    
    .faq .main .left .title {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      margin: 0 0 16px;
    }
    
    .faq .main .left .lead {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
    }
    
    .faq .main .right .content {
      margin-bottom: 16px;
    }
    
    .faq .main .right .content .collapsibleClose {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 668px;
      height: 56px;
      padding: 18px 25px 18px 24px;
      border: 1px solid #D4D4D4;
      border-radius: 4px;
    }
    
    .faq .main .right .content .collapsibleClose:hover {
      cursor: pointer;
    }
    
    
    /* footer */
    .footer {
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
    }
    
    .footer .main {
      width: 1141px;
      display: flex;
      justify-content: space-between;
    }
    
    .footer .main .text {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      text-decoration: none;
      color: black;
      margin: 0 0 16px;
    }
    
    .footer .main .address {
      max-width: 268px;
      width: 268px;
    }
     
    .footer .main .navigation {
      display: flex;
      flex-direction: column;
      min-width: 79px;
    }
    
    .footer .main .navigation .text {
      font-weight: 400;
    }
    
    .footer .main .sosmed .icons{
      display: flex;
    }
    
    .footer .main .sosmed .icons .icon  {
      height: 32px;
      width: 32px;
      padding: 7.67px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #0D28A6;
      margin-right: 16px;
    }
    
    .footer .main .sosmed .icons .icon img {
      height: 24px;
      width: 24px;
      display: flex;
    }
    
    .footer .main .copyright .box {
      width: 100px;
      height: 34px;
      background-color:#0D28A6;
    }
    
    /* cars.html */

    /* start search button */
    .container {
      margin-bottom: 100px;
    }

    
    
    